.contenido img {
    align-items: center;
    width: 300px;
    height: 250px;
}

.contenido .conter-img2 {
    padding: 10px 30%;
}

.contenido p {
    padding: 14px 0;
}

@media screen and (max-width: 715px) {
    .contenido .conter-img2 {
        padding: 10px 14%;
    }
}

@media screen and (max-width: 451px) {
    .contenido img {
        align-items: center;
        width: 230px;
        height: 250px;
    }
}