            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Antic Slab', serif;
            }
            /* body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            } */
            /* Colores los cuales se Utilizaron 
            */
            /*Burger button*/
            
            header {
                width: 100%;
                background-color: #4e94ab;
            }
            
            #btn-menu {
                display: none;
            }
            
            header label {
                display: none;
                width: 30px;
                height: 30px;
                padding: 10px;
                border-right: 1px solid #fcfcfc;
            }
            
            header label:hover {
                cursor: pointer;
                background: rgba(0, 0, 0, 0.3);
            }
            
            .menu ul {
                margin: 0;
                list-style: none;
                padding: 0;
                display: flex;
            }
            
            .menu li {
                border-right: 1px solid #fcfcfc;
            }
            
            .menu li:hover {
                background: rgba(0, 0, 0, 0.3);
            }
            
            .menu li a {
                display: block;
                padding: 15px 20px;
                color: #fff;
                text-decoration: none;
            }
            /*Seccion de header*/
            /* .header {
                background-color: #00395d;
                color: #fffefe;
                display: block;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            } */
            
            .title img {
                position: initial;
                width: 100%;
                /* font-family: 'Dancing Script', cursive;
                font-size: 35px; */
            }
            
            .link {
                font-family: 'Arsenal', sans-serif;
                text-align: center;
                font-size: 15px;
            }
            /*secion de contenido*/
            
            .blogs-main {
                display: grid;
            }
            
            .blogs-posts-container {
                padding: 0 50px 40px;
                margin: 10px;
            }
            
            .grid-container {
                max-width: 980px;
                margin: auto;
                /* background-color: aliceblue; */
            }
            
            .blogs-posts-container h3 {
                border-bottom: 1px solid #cdd2da;
                /* padding-bottom: 20px; */
                text-align: center;
                margin: 20px;
                font-size: 30px;
                color: #1b2127;
            }
            
            .blogs-posts-container .post-container {
                display: inline-block;
                padding-left: 10px;
                max-width: 30%;
                margin-bottom: 50px;
                padding: 50px;
            }
            
            .blogs-posts-container .post-container img {
                width: 100%;
            }
            
            .blogs-posts-container .post-container p {
                margin-bottom: 35px;
            }
            
            .post-container strong {
                font-size: 20px;
                color: #030369;
            }
            
            .blogs-button {
                border: 1px solid#828588;
                padding: 10px 15px;
                font-size: 12px;
            }
            
            a {
                text-decoration: none;
                display: inline;
                color: black;
            }
            /*Seccion de footer*/
            
            .footer {
                color: white;
                background-color: #1b2127;
                width: 100%;
                /* display: flex;
                align-items: center;
            justify-content: space-between; */
            }
            
            .footer img {
                vertical-align: middle;
            }
            
            .footer a {
                color: white;
                text-decoration: none;
            }
            
            .container-footer-all {
                width: 100%;
                max-width: 1200px;
                margin: auto;
                padding: 30px;
            }
            
            .container-body {
                display: flex;
                justify-content: space-between;
            }
            
            .PrimeraColumna {
                max-width: 500px;
            }
            
            .PrimeraColumna h1 {
                font-size: 30px;
                font-family: 'Antic Slab', serif;
            }
            
            .PrimeraColumna p {
                font-family: 'Arapey', serif;
            }
            
            .PrimeraColumna p {
                font-size: 30px;
                color: #c7c7c7;
                margin-top: 15px;
                margin-right: 25px;
                text-align: justify;
            }
            
            .SegundaColumna {
                max-width: 600px;
            }
            
            .SegundaColumna h1 {
                font-size: 30px;
                font-family: 'Antic Slab', serif;
            }
            
            .RedesSociales {
                margin-top: 2px;
                display: flex;
            }
            
            .RedesSociales img {
                width: 40px;
                height: 40px;
            }
            
            .RedesSociales a {
                font-size: 18px;
                margin: 10px;
                margin-left: 5px;
                color: #c7c7c7;
            }
            
            .TerceraColumna {
                max-width: 400px;
            }
            
            .TerceraColumna h1 {
                font-size: 30px;
                font-family: 'Antic Slab', serif;
            }
            
            .Contactos {
                margin-top: 20px;
                display: flex;
            }
            
            .Contactos img {
                width: 55px;
                height: 55px;
            }
            
            .Contactos a {
                font-size: 17px;
                margin: 15px;
                margin-left: 10px;
                color: #c7c7c7;
            }
            
            .container-footer {
                font-family: 'Handlee', cursive;
                color: #59626a;
                max-width: 100%;
                background: #00395d;
                display: flex;
                justify-content: space-between;
                padding: 30px;
            }
            
            .TerminosCondiciones {
                font-size: 20px;
            }
            
            .TerminosCondiciones a {
                color: #59626a;
            }
            
            @media screen and (max-width: 1100px) {
                .container-body {
                    flex-wrap: wrap;
                }
                .PrimeraColumna,
                .SegundaColumna,
                .TerceraColumna {
                    margin-top: 40px;
                }
            }
            
            @media screen and (max-width: 1536px) {
                .PrimeraColumna,
                .SegundaColumna,
                .TerceraColumna {
                    margin-top: 40px;
                }
                header label {
                    display: block;
                }
                .menu {
                    position: absolute;
                    background: #4e94ab;
                    width: 30%;
                    margin-left: -70%;
                    transition: all 0.5s;
                }
                .menu ul {
                    flex-direction: column;
                }
                .menu li {
                    border-top: 1px solid #fcfcfc;
                }
                #btn-menu:checked~.menu {
                    margin: 0;
                }
            }
            
            @media screen and (max-width: 767px) {
                header label {
                    display: block;
                }
                .menu {
                    position: absolute;
                    background: #4e94ab;
                    width: 70%;
                    margin-left: -70%;
                    transition: all 0.5s;
                }
                .menu ul {
                    flex-direction: column;
                }
                .menu li {
                    border-top: 1px solid #fcfcfc;
                }
                #btn-menu:checked~.menu {
                    margin: 0;
                }
            }
            
            @media (max-width:900px) {
                .blogs-main-new {
                    grid-template-columns: 1fr;
                    grid-template-rows: 3fr;
                }
                .blogs-news-img-container {
                    grid-row: 2;
                }
                .blogs-news-info-container {
                    grid-column: 1;
                    grid-row: 3;
                }
                .blogs-posts-container .post-container {
                    max-width: 45%;
                }
                .proyects-main-container {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 2fr;
                }
                .profile-main-container .profile-container {
                    display: block;
                }
            }
            
            @media (max-width: 600px) {
                .blogs-posts-container .post-container {
                    max-width: 95%;
                }
            }